@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFA07A;
}

li, a, button {
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    height: 80px;
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
  width:120px;
  text-align:center;
  display:block;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  border: #000 1px solid;
  color: #000;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
   margin: 20px auto;
  transition: .5s;
  border-radius: 0px; 
}

.nav-links li a:hover {
  top: 5px;
  transition: .5s;
  color: #FFF;
  border: #FFF 1px solid;
  border-radius: 10px;
}

.nav-links li a:active {
  color: #000;
  border: #FFF 1px solid;
  transition: .07s;
  background-color: #FFF;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
.main-area {
    font-family: 'Montserrat', monospace ;
    font-weight: 300;
    font-size: 14px;
    margin: 30px;
    padding: 20px;
    color: #000000;
}
.content-area {
    display: flex;
    margin: auto;
    padding: 0 10%;
}
.img-area {
    padding: 20px 0;
    margin: 100px auto;
}
.img-area img {
    width: 600px;
}
.text-area {
    /*display: inline-block;*/
    /*margin-left: 50%;*/
    font-size: 16px;
    padding: 2px 1em 0 200px;
    margin: 190px auto;
}
.input-background {
    background-color: #c83240;
    color: #edf0d1;
    margin: 7px 0;
    padding: 2px 10px;
    border: none;
}
table {width: 160%; border-collapse: separate; border-spacing: 4px; margin: 20px auto;}
table thead tr {color: #ffffff; font-weight: bold;}
table thead tr th {background: #c83240;}
table tr td {border-right: 1px solid #dfdfdf;}
table tbody tr:nth-child(1n) {background: #f6f6f6;}
table tbody tr:nth-child(2n) {background: #e6e6e6;}
table tbody tr:hover {background: #ffe8e8; transition-duration: 0.5s;}

.flex-box {
    display: flex;
}
.add-area {
    margin-left: auto;
    margin-right: auto;
}
.add-form {
    margin: 30px;
}
.content-area {
    display: flex;
}
.login-area {
    margin: 100px auto;
    width: 300px;
}
.quantity-area {
    margin: 20px 0;
}
.quantity-area p {
    margin: 10px 0;
}
